// Your variable overrides
$primary: #bd93f9;
$danger: #ff5555;
$secondary: #6272a4;
$gray-dark: #636364;
$success: #34b64f;
$info: #3484b7;
$warning: #ffb86c;
$light: #f8f8f2;
$dark: #282a36;
$pink: #ff79c6;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "secondary": $secondary,
  "gray-dark": $gray-dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "light": $light,
  "dark": $dark,
);

.navbar {
  opacity: 0.97;
}
body {
  padding-left: 2px;
  padding-right: 2px;
  margin: auto;
}

.card {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card-companion-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
