//override bs
:root {
  --bs-blue: #8be9fd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #ff79c6;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;

  --bs-gray-dark: #282a36;
  --bs-primary: #bd93f9;
  --bs-secondary: #6272a4;
  --bs-success: #34b74f;
  --bs-info: #8be9fd;
  --bs-warning: #ffb86c;
  --bs-danger: #ff5555;
  --bs-light: #f8f8f2;
  --bs-dark: #282a36;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
